---
import type { CollectionEntry } from "astro:content"
import { getCollection } from "astro:content"
import Layout from "@/layouts/Layout.astro"

export const prerender = true
export async function getStaticPaths() {
	const posts = await getCollection("blog")
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}))
}
type Props = CollectionEntry<"blog">
const post = Astro.props
const { heroImage, title, description } = post.data
const { Content } = await post.render()
const titleHead = title.split("<span>").join("").split("</span>").join("")
---

<Layout title={titleHead} description={description} image={heroImage}>
	<article>
		<div class="prose">
			<h1 class="title" set:html={title} transition:animate="slide" />
			<div transition:animate="slide" class="container-content">
				<Content />
			</div>
		</div>
	</article>
</Layout>

<style>
	:root {
		--color-primary-blog: #222;
		--color-secondary-blog: #efb810;
		--color-secondary-blog-dark: rgb(202 138 4 /1);
	}
	.prose {
		width: 1024px;
		max-width: calc(100% - 2em);
		margin: auto;
		padding: 1em;
		line-height: 1.5;
		color: var(--color-zinc-300);
		p {
			margin-bottom: 1em;
		}
		.title {
			margin-top: var(--p-60);
			margin-bottom: 0.2em;
			padding: 0.5em 0;
			text-align: start;
			color: var(--color-secondary-blog);
			font-size: var(--font-size-2xlarge);

			span {
				font-weight: bold;
				color: transparent;
				-webkit-text-stroke: 1px var(--color-secondary-blog);
				text-stroke: 1px var(--color-secondary-blog);
			}
		}
		h2 {
			font-size: var(--font-size-large);
		}
		h3 {
			font-size: var(font-size-medium);
		}
		h2,
		h3 {
			color: var(--color-secondary-blog);
			margin-bottom: 0.2em;
			padding: 0.5em 0;
			font-weight: bold;
			text-align: start;
			span {
				font-weight: bold;
				color: transparent;
				-webkit-text-stroke: 1px var(--color-secondary-blog);
				text-stroke: 1px var(--color-secondary-blog);
			}
		}
		code {
			font-size: 0.9em;
			padding: 2px 5px;
			border-radius: 5px;
			box-shadow: 0 0 2px 1px var(--color-secondary-blog);
			color: rgb(202 138 4 /1);
			background-color: var(--color-primary-blog);
		}
		ul {
			list-style: circle;
		}
	}
</style>
