---
import Html from "../svg/Html.astro"
import JavaScript from "../svg/JavaScript.astro"
import Css from "../svg/Css.astro"
import Vcs from "../svg/Vcs.astro"
import Package from "../svg/Package.astro"
import FrameWorks from "../svg/FrameWorks.astro"
import Gear from "../svg/Gear.astro"
import Testing from "../svg/Testing.astro"
import WebComponent from "../svg/WebComponent.astro"
import CardSkill from "@/components/ui/CardSkill.astro"

const elements = [
	{ title: "JavaScript", icon: JavaScript, dataAttribute: "child-1" },
	{ title: "HTML5", icon: Html, dataAttribute: "child-2" },
	{ title: "CSS3", icon: Css, dataAttribute: "child-3" },
	{ title: "WebComponet", icon: WebComponent, dataAttribute: "child-4" },
	{ title: "VCS", icon: Vcs, dataAttribute: "child-5" },
	{
		title: "Package Managers",
		icon: Package,
		dataAttribute: "child-6",
	},
	{ title: "Frameworks", icon: FrameWorks, dataAttribute: "child-7" },
	{ title: "Build Tools", icon: Gear, dataAttribute: "child-8" },
	{ title: "Testing", icon: Testing, dataAttribute: "child-9" },
]
---

<h2 class="title">Frontend</h2>

<div class="container">
	{
		elements.map(({ title, icon, dataAttribute }) => (
			<CardSkill title={title} icon={icon} dataAttribute={dataAttribute} />
		))
	}
</div>
