---
import NoFoundLayout from "@/layouts/NoFoundLayout.astro"

const pathName = Astro.url.pathname
---

<NoFoundLayout>
	<div id="not-found">
		<div class="container-elements">
			<div class="logo">
				<a href="/">
					<img src="/logo-old.svg" title="Logo" alt="Logo" loading="eager" />
					<span>Veriel.Dev</span>
				</a>
			</div>
			<div class="wrong">
				<p>
					Path: <strong>{pathName}</strong>
				</p>
			</div>
			<div class="text">
				<p>
					La página que buscas no existe o ha sido movida. Por favor, verifica
					la URL e intenta nuevamente.
				</p>
			</div>
		</div>
	</div>
</NoFoundLayout>
<style>
	#not-found {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-direction: column;
		height: 95vh;
		.container-elements {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			gap: var(--p-20);
			height: 100%;
			.logo {
				a {
					font-size: var(--font-size-xlarge);
					font-weight: bold;
					text-decoration: none;
					color: var(--color-zinc-100);
					display: flex;
					align-items: center;
					justify-content: flex-start;
					gap: var(--p-10);
					img {
						width: fit-content;
						height: 40px;
					}
					span {
						margin-top: var(--p-20);
					}
				}
			}
			.wrong {
				background-color: #111;
				padding: var(--p-10);
				border-radius: var(--p-10);
				border: 1px solid red;
				p {
					font-size: var(--font-size-large);
					color: red;
				}
			}
			.text {
				text-align: center;
				width: 70%;
				line-height: 1.5;
				p {
					color: var(--color-zinc-100);
				}
			}
		}
	}
</style>
