---
import React from "../svg/React.astro"
import { homePage } from "@/const/home"

const { title } = homePage.skillsSection
---

<section id="skills-section">
	<h1 set:html={title} />
	<div class="container-skills">
		{
			homePage.skills.map(({ title, icon: Icon }) => (
				<div class="skill">
					<Icon />
					{title}
				</div>
			))
		}
	</div>
</section>

<style>
	#skills-section {
		text-align: center;
		margin-top: var(--p-60);
		h1 {
			margin-bottom: var(--p-60);
			span {
				font-weight: bold;
				color: transparent;
				-webkit-text-stroke: 1px var(--color-zinc-100);
				text-stroke: 1px var(--color-zinc-100);
			}
		}
		.container-skills {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			gap: 1rem;
			.icon {
				width: 3rem;
				height: 3rem;
			}
			.skill {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				gap: 1.5rem;
				border: 1px solid var(--color-zinc-100);
				color: var(--color-zinc-100);
				width: 150px;
				height: 150px;
				transition: all 0.3s ease-in-out;
				&:hover {
					transform: scale(1.05);
					box-shadow: 0 0 4px var(--color-zinc-100);
				}
			}
		}
	}
</style>
<script>
	import animationAppear from "@/libs/utils"

	document.addEventListener("astro:page-load", () => {
		animationAppear("#skills-section")
	})
</script>
