---
import CardTestimonial from "../ui/CardTestimonial.astro"
import { testimonialSection } from "@/const/home"

const { title } = testimonialSection

const testimonial = [
	{
		imgSrc: "https://via.placeholder.com/150",
		text: "I recently had to jump on 10+ different calls across eight different countries to find the right owner.",
		name: "John Doe",
		position: "CEO, Company",
	},
	{
		imgSrc: "https://via.placeholder.com/150",
		text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus.",
		name: "Jane Smith",
		position: "CTO, Another Company",
	},
	{
		imgSrc: "https://via.placeholder.com/150",
		text: "Praesent malesuada arcu nibh, ac suscipit nisi maximus ut.",
		name: "Alice Johnson",
		position: "Marketing Director, New Ventures",
	},
]
---

<section id="testimonial-section">
	<h1 set:html={title} />
	<div class="container-testimonial">
		{testimonial.map((testimonial) => <CardTestimonial {...testimonial} />)}
	</div>
</section>
<style>
	#testimonial-section {
		text-align: center;
		margin-top: var(--p-60);
		h1 {
			span {
				font-weight: bold;
				color: transparent;
				-webkit-text-stroke: 1px var(--color-zinc-100);
				text-stroke: 1px var(--color-zinc-100);
			}
		}
		.container-testimonial {
			margin-top: var(--p-60);
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			gap: 1rem;
		}
	}
</style>
<script>
	import animationAppear from "@/libs/utils"

	document.addEventListener("DOMContentLoaded", () => {
		animationAppear("#testimonial-section")
	})
</script>
