<ul>
	<li><a href="/about" title="About me">About me</a></li>
	<li><a href="/Skills" title="Skills">Skills</a></li>
	<li><a href="/project" title="Project">Project</a></li>
	<li><a href="/blog" title="Contact">Blog</a></li>
</ul>
