<footer id="footer">
		<h3>Víctor Manuel Ordiales García</h3>
		<p>&copy; 2024 - Todos los derechos reservados</p>
</footer>
<style>
	#footer {
        display: flex;
        justify-content: center;
				flex-direction: column;
        align-items: center;
				height: 80px;
				margin-top: var(--p-60);
				padding-bottom: var(--p-60);
	}
</style>
