---
import { footer } from "@/const/common"

const { title, description } = footer
---

<footer id="footer">
	<h3>{title}</h3>
	<p>{description}</p>
</footer>
<style>
	#footer {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		height: 80px;
		margin-top: var(--p-60);
		padding-bottom: var(--p-60);
	}
</style>
