---
import Layout from "@/layouts/Layout.astro"
import Frontend from "@/components/skills/Frontend.astro"
import Modal from "@/components/ui/Modal.astro"
import JsComponent from "@/components/skills/frontend/js/JsComponent.astro"
import HtmlComponent from "@/components/skills/frontend/html/HtmlComponent.astro"
import CssComponent from "@/components/skills/frontend/css/CssComponent.astro"
import WebComponent from "@/components/skills/frontend/web/WebComponent.astro"
import VcsComponent from "@/components/skills/frontend/vcs/VcsComponent.astro"
import PackagesComponent from "@/components/skills/frontend/packages/PackagesComponent.astro"
import Frameworks from "@/components/skills/frontend/frameworks/FrameWorks.astro"
import BuildTools from "@/components/skills/frontend/buildTools/BuildTools.astro"
import Testing from "@/components/skills/frontend/testing/Testing.astro"

const title = "My <span>Skills</span>"
---

<Layout
	title="Skills | Víctor Manuel Ordiales García"
	description="Sección de habilidades de Víctor Manuel Ordiales García"
	canonical="https://veriel.dev"
>
	<section id="skills">
		<Modal>
			<div
				slot="JavaScript"
				data-content="child-1"
				style="display: none"
				class="container-modal-generic"
			>
				<JsComponent />
			</div>
			<div
				slot="HTML5"
				data-content="child-2"
				style="display: none"
				class="container-modal-generic"
			>
				<HtmlComponent />
			</div>
			<div
				slot="CSS3"
				data-content="child-3"
				style="display: none"
				class="container-modal-generic"
			>
				<CssComponent />
			</div>
			<div
				slot="WebComponent"
				data-content="child-4"
				style="display: none"
				class="container-modal-generic"
			>
				<WebComponent />
			</div>
			<div
				slot="VCS"
				data-content="child-5"
				style="display: none"
				class="container-modal-generic"
			>
				<VcsComponent />
			</div>
			<div
				slot="PackageManagers"
				data-content="child-6"
				style="display: none"
				class="container-modal-generic"
			>
				<PackagesComponent />
			</div>
			<div
				slot="Frameworks"
				data-content="child-7"
				style="display: none"
				class="container-modal-generic"
			>
				<Frameworks />
			</div>
			<div
				slot="BuildTools"
				data-content="child-8"
				style="display: none"
				class="container-modal-generic"
			>
				<BuildTools />
			</div>
			<div
				slot="Testing"
				data-content="child-9"
				style="display: none"
				class="container-modal-generic"
			>
				<Testing />
			</div>
		</Modal>
		<div class="title">
			<h1 set:html={title} />
			<p class="subtitle">
				En esta sección puedes ver las habilidades que he adquirido a lo largo
				de mi carrera profesional y de formación académica.
			</p>
		</div>
		<div class="container-skills">
			<Frontend />
		</div>
	</section>
</Layout>

<style>
	#skills {
		text-align: center;
		margin-top: var(--p-60);
		h1 {
			span {
				font-weight: bold;
				color: transparent;
				-webkit-text-stroke: 1px var(--color-zinc-100);
				text-stroke: 1px var(--color-zinc-100);
			}
		}
		.subtitle {
			margin-top: var(--p-20);
			margin: 0 auto;
			margin-bottom: var(--p-40);
			font-size: var(--fz-20);
			color: var(--text-color);
			text-align: center;
			width: 60%;
		}
		.container-skills {
			display: block;
			padding: var(--p-20);
			border: 1px solid var(--color-zinc-100);
			width: 100%;
			height: 100%;
		}
	}
</style>
