---
import Layout from "@/layouts/Layout.astro"
import Frontend from "@/components/skills/Frontend.astro"

/* Texts */
import Backend from "@/components/skills/Backend.astro"
import ModalSkills from "@/components/skills/ModalSkills.astro"
import Bbdd from "@/components/skills/Bbdd.astro"

const title = "My <span>Skills</span>"
---

<Layout
	title="Skills | Víctor Manuel Ordiales García"
	description="Sección de habilidades de Víctor Manuel Ordiales García"
	canonical="https://veriel.dev"
>
	<section id="skills">
		<ModalSkills />
		<div class="title">
			<h1 set:html={title} />
			<p class="subtitle">
				En esta sección puedes ver las habilidades que he adquirido a lo largo
				de mi carrera profesional y de formación académica.
			</p>
		</div>
		<div class="container-skills">
			<Frontend />
			<Backend />
			<Bbdd />
		</div>
	</section>
</Layout>
<script>
	import { $, $$ } from "@/libs/utils"
	import { toggleModal } from "@/libs/modal"

	document.addEventListener("astro:page-load", () => {
		const modalGeneric = $("#modal-generic") as HTMLElement
		const elements: NodeListOf<HTMLElement> = $$(".element")
		elements.forEach((element) => {
			element.addEventListener("click", () => {
				const dataAttribute = element.getAttribute("data-atribute")
				;(
					modalGeneric.querySelector(
						`[data-content="${dataAttribute}"]`
					) as HTMLElement
				).style.display = "block"
				toggleModal(modalGeneric)
			})
			modalGeneric.addEventListener("click", () => {
				toggleModal(modalGeneric)
				document.querySelectorAll("[data-content]").forEach((content) => {
					;(content as HTMLElement).style.display = "none"
				})
			})
		})
	})
</script>

<style>
	#skills {
		text-align: center;
		margin-top: var(--p-60);
		h1 {
			span {
				font-weight: bold;
				color: transparent;
				-webkit-text-stroke: 1px var(--color-zinc-100);
				text-stroke: 1px var(--color-zinc-100);
			}
		}
		.subtitle {
			margin-top: var(--p-20);
			margin: 0 auto;
			margin-bottom: var(--p-40);
			font-size: var(--fz-20);
			color: var(--text-color);
			text-align: center;
			width: 60%;
			@media screen and (max-width: 768px) {
				width: 90%;
			}
		}
		.container-skills {
			display: block;
			padding: var(--p-20);
			border: 1px solid var(--color-zinc-100);
			width: 100%;
			height: 100%;
			.title {
				font-size: var(--font-size-2xlarge);
				text-align: center;
				font-weight: bold;
				color: transparent;
				-webkit-text-stroke: 1px var(--color-zinc-100);
				text-stroke: 1px var(--color-zinc-100);
				&:nth-child(3) {
					margin-top: var(--p-40);
				}
				&:nth-child(5) {
					margin-top: var(--p-40);
				}
			}
			.container {
				display: flex;
				justify-content: center;
				align-items: center;
				gap: 2rem;
				flex-wrap: wrap;
				margin-top: var(--p-40);
			}
		}
	}
</style>

<script>
	import animationAppear from "@/libs/utils"

	document.addEventListener("astro:page-load", () => {
		animationAppear("#skills")
	})
</script>
