---
interface Props {
	textLevel4: string
}
const { textLevel4 } = Astro.props as Props
---

<div class="level-4">
	<p>Eventos</p>
	<div class="tooltip">
		<p set:html={textLevel4} />
	</div>
</div>
<style>
	.level-4 {
		position: absolute;
		top: 245px;
		cursor: pointer;
		right: 14%;
		border: 1px solid var(--color-zinc-100);
		padding: var(--p-20);
	}
</style>
