---
import AstroSEO from "@/components/AstroSEO.astro"
import Footer from "@/components/footer/Footer.astro"
import Header from "@/components/header/Headear.astro"
import "@/css/global.css"
import "@fontsource/roboto/100.css"
import "@fontsource/roboto/300.css"
import "@fontsource/roboto/400.css"
import "@fontsource/roboto/500.css"
import "@fontsource/roboto/700.css"
import "@fontsource/roboto/900.css"

interface Props {
	title: string
	description: string
	canonical?: string
	image?: string
}

const { title, description, canonical, image } = Astro.props
---

<!doctype html>
<html lang="es">
	<head>
		<AstroSEO
			title={title}
			description={description}
			canonical={canonical}
			image={image}
		/>
	</head>
	<body>
		<Header />
		<main>
			<slot />
		</main>
		<Footer />
	</body>
</html>
