---
import { ViewTransitions } from "astro:transitions"

import Header from "../components/header/Headear.astro"
import "@/css/global.css"
import AstroSEO from "@/components/AstroSEO.astro"

interface Props {
	title: string
	description: string
	canonical?: string
	image?: string
}

const { title, description, canonical, image } = Astro.props
---

<!doctype html>
<html lang="es">
	<head>
		<AstroSEO title={title} description={description} canonical={canonical} image={image} />
		<ViewTransitions />
	</head>
	<body>
		<Header />
		<main>
			<slot />
		</main>
	</body>
</html>
