---
import AstroSEO from "@/components/AstroSEO.astro"
import "@/css/global.css"
import "@fontsource-variable/jost"
---

<!doctype html>
<html lang="es">
	<head>
		<AstroSEO
			title={"4004 - Not found"}
			description={"Página no encontrada"}
			canonical={"https://veriel.dev"}
		/>
	</head>
	<body>
		<main>
			<slot />
		</main>
	</body>
</html>
