---

---

<div id="modal-generic">
	<slot name="JavaScript" />
	<slot name="HTML5" />
	<slot name="CSS3" />
	<slot name="WebComponent" />
	<slot name="VCS" />
	<slot name="PackageManagers" />
	<slot name="Frameworks" />
	<slot name="BuildTools" />
	<slot name="Testing" />
</div>

<style>
	#modal-generic {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		background-color: rgba(0, 0, 0, 0.9);
		justify-content: center;
		align-items: center;
		height: 100vh;
		z-index: 1000;
		display: none;
		.container-modal-generic {
			background-color: var(--color-zinc-800);
			padding: var(--p-20);
			border-radius: var(--p-5);
			width: 100%;
			max-width: 1024px;
			position: relative;
		}
	}
</style>
