---

---

<div id="modal-generic">
	<slot name="JavaScript" />
	<slot name="HTML5" />
	<slot name="CSS3" />
	<slot name="WebComponent" />
	<slot name="VCS" />
	<slot name="PackageManagers" />
	<slot name="Frameworks" />
	<slot name="BuildTools" />
	<slot name="Testing" />
	<slot name="Java" />
	<slot name="NodeJS" />
	<slot name="NestJS" />
	<slot name="Spring" />
	<slot name="ExpressJS" />
	<slot name="PostgreSQL" />
	<slot name="MongoDB" />
	<slot name="OracleSQL" />
</div>

<style>
	#modal-generic {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		min-height: 100vh;
		background-color: rgba(0, 0, 0, 0.9);
		justify-content: center;
		align-items: center;
		z-index: 1000;
		display: none;
		.container-modal-generic {
			position: relative;
			background-color: var(--color-zinc-800);
			padding: var(--p-20);
			border-radius: var(--p-5);
			width: 100%;
			max-width: 1024px;
			height: 100%;
			@media screen and (max-width: 768px) {
				padding: var(--p-5);
			}
		}
	}
</style>
