---

---

<div class="level-9">
	<p>Cadenas de textos</p>
	<div class="line-1"></div>
</div>
<style>
	.level-9 {
		position: absolute;
		cursor: pointer;
		top: 665px;
		left: 20px;
		width: 150px;
		border: 1px solid var(--color-zinc-100);
		padding: var(--p-20);
		cursor: default;
		.line-1 {
			position: absolute;
			width: 2px;
			height: 40px;
			background-color: var(--color-zinc-100);
			top: 100%;
			left: 48%;
		}
	}
</style>
